<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mine Hobbier</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="hobbies">

<main class="kristian-container">
    <h1>Mine hobbier</h1>
    <h2>Fodbold</h2>
    <p>TIIF (Torlunde-Ishøj IF)</p>
    <a href="#Fodbold">
        <img src="/images/P1015871.JPG" alt="TIIF" class="billeder">
    </a>
    <div id="Fodbold" class="overlay">
        <a href="#" class="close">&times;</a>
        <img src="/images/P1015871.JPG" alt="TIIF">
    </div>

    <a href="#Nummer6">
        <img src="/images/P1016137.JPG" alt="Mig" class="billeder">
    </a>
    <div id="Nummer6" class="overlay">
        <a href="#" class="close">&times;</a>
        <img src="/images/P1016137.JPG" alt="Mig">
    </div>

    <p><a href="/">Tilbage til forsiden</a></p>
    <p><a href="pets">Gå til 'Mine kæledyr'</a></p>
</main>

</body>
</html>