<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forsiden</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="index">

<header>
<h1> Kristian </h1>
    <p> Velkommen til MinVerden - Siden, der indeholder lidt om mig :) </p>
</header>
<main>
    <text>
        <h2>Om mig</h2>
    </text>
            <h3>Vælg en de nedenstående for mere information:</h3>

        <ul class="kristian-links">
            <li><a href="/page/about">Lidt om mig</a></li>
            <li><a href="/page/family">Min familie</a></li>
            <li><a href="/page/hobbies">Mine hobbier</a></li>
            <li><a href="/page/pets">Mine kæledyr</a></li>
        </ul>

</main>

<footer>© 2025 OmMig | Lavet af Kristian</footer>
</body>
</html>