<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mine Kældedyr</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="pets">

<main class="kristian-container">
    <h1>Mine kæledyr</h1>
    <h2>Navn:</h2>
    <p>Kenzo</p>
    <h2>Fødselsdag:</h2>
    <p>5 år gammel (14-09-2019)</p>
    <h2>Race:</h2>
    <p>Australsk Labradoodle</p>
    <a href="#Kenzo">
        <img src="/images/482513322_1381281189728508_2103192214475697894_n.jpg" alt="Kenzo" class="billeder">
    </a>
    <div id="Kenzo" class="overlay">
        <a href="#" class="close">&times;</a>
        <img src="/images/482513322_1381281189728508_2103192214475697894_n.jpg" alt="Kenzo">
    </div>
    <h2>Navn:</h2>
    <p>Milo</p>
    <h2>Fødselsdag:</h2>
    <p></p>
    <h2>Race:</h2>
    <p></p>
    <a href="#Milo">
        <img src="/images/476777410_1517348765889030_1247986982312054248_n.jpg" alt="Milo" class="billeder">
    </a>
    <div id="Milo" class="overlay">
        <a href="#" class="close">&times;</a>
        <img src="/images/476777410_1517348765889030_1247986982312054248_n.jpg" alt="Milo">
    </div>

    <p><a href="/">Tilbage til forsiden</a></p>
    <p><a href="about">Gå til 'Lidt om mig'</a></p>

</main>

</body>
</html>